.gliffy-webpanel-footer {
    display: none !important;
}

.aui-button#gliffy-dashboard-link {
    display: none !important;
}

.aui-message.shadowed.closeable {
    display: none !important;
}

.license.license-eval {
    display: none !important;
}
